
.menu{
    display: flex;
    min-height: 100vh;
    
}

.leftSide{
    // display: flex;
    // flex-direction: column;
//Dodata min-width    
    min-width: 200px;
    width: 15%;
    
    background-color: $menuBgc;
    font-family: $titleFont;
    text-decoration: none;

.f1Img{
        width: 100%;
    }

}
nav{
    width: 100%;
    background-color:$menuBgc;
}

// .mainScreen{

//     float: right;
//     width: 84%;    

// }


.link{
   
    position: relative;    
    text-decoration:none;
    color:$menuTextColor;
    display:block;
    height: 60px;
    line-height:60px;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    padding-left: 80px;
    padding-bottom: 7px;
    border: $imgHoverColor 1px solid;
    

    &:hover {
        background-color: $imgHoverColor;
    }
    // &:focus{
    //     background-color: ;
    // }
   
    
   
}
.menuImg{

    width: 50px;
    filter: invert(100%);
    position: absolute; 
    left: 0;  
    padding-left: 10px;
    

    }

.formula{
       position: absolute;
       top: 20px;
    
    }
//spiner
.spiner{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
}
// aktiv klasa
.navActiveLink{
    background-color: $imgHoverColor;
}

.rightSide{
    display: flex;
    flex-direction: row;
    padding: 10px;


}
.driverInfo{
    width: 20%;
    display: flex;
    flex-direction: column;
    .imageData{
        display: flex;
        flex-direction: row;

        p, .flag{
            padding: 3px 0 3px 10px;
            color: $menuTextColor;
            font-size: 1.2rem;
            font-weight: bold;

        }
    }
    .driversImg{
       
        width: 40%;
        height: 100px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            
        }
    }
}

.driversInfoTable{
    width: 79%;
}




