@mixin propRaces {
    padding: 3px 0 3px 10px;
    color: $menuTextColor;
    font-size: 1.2rem;
    font-weight: bold;
}



.menu{
    display: flex;
    min-height: 100vh;
    
}

.leftSide{
    // display: flex;
    // flex-direction: column;
//Dodata min-width    
    min-width: 200px;
    width: 15%;
    
    background-color: $menuBgc;
    font-family: $titleFont;
    text-decoration: none;

.f1Img{
        width: 100%;
    }

}
nav{
    width: 100%;
    background-color:$menuBgc;
}

// .mainScreen{

//     float: right;
//     width: 84%;    

// }


.link{
   
    position: relative;    
    text-decoration:none;
    color:$menuTextColor;
    display:block;
    height: 60px;
    line-height:60px;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    padding-left: 80px;
    padding-bottom: 7px;
    border: $imgHoverColor 1px solid;
    

    &:hover {
        background-color: $imgHoverColor;
    }
    // &:focus{
    //     background-color: ;
    // }
   
    
   
}
.menuImg{

    width: 50px;
    filter: invert(100%);
    position: absolute; 
    left: 0;  
    padding-left: 10px;
    

    }

.formula{
       position: absolute;
       top: 20px;
    
    }
//spiner
.spiner{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
}
// aktiv klasa
.navActiveLink{
    background-color: $imgHoverColor;
}

.rightSide{
    display: flex;
    flex-direction: row;
    padding: 10px;


}
.driverInfo{
    width: 20%;
    display: flex;
    flex-direction: column;

    .racesName {

        @include propRaces();
       
     }
    
   
    .imageData{
        display: flex;
        flex-direction: row;

        p, .flag {
           
            @include propRaces();

        }
    }
    .driversImg{
       
        width: 40%;
        height: 100px;
       
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            
        }
    }
}

.driversInfoTable, .twoTables {
    width: 79%;

}

.twoTables {

    display: flex;
    flex-direction: row;

    
}
.driversInfoTableQR{

    width: 42%;
}
.driversInfoTableRR {
    width: 58%;
}

@media screen and (max-width: 1200px) {


    .rightSide, .driversInfoTableQR, .driversInfoTableRR {
    
        width: 100%;

        
    }

    .driverInfo {
        max-width: 50%;
    }

    .rightSide, .twoTables {

        display: flex;
        flex-direction: column;
    }
    
        
    }

@media screen and ( max-width: 768px) {
    
    .mainScreen {
        width: 100% !important;

    }
    .menu {

        width: 100%;
        height: 50px;
        min-height: 50px;
        display: inline-block;

    }

    .rightSide {
        width: 100%;
        
    }
    .leftSide {
        width: 100%;
        display: inline-block;
        position: relative;
        // height: 250px;

        .f1Img {
            display: inline-block;
            height: 250px;
            width: 30%;
            position: relative;   
        }

        nav {
            position: absolute;
            left: 30%;
            top: 0;
        }

        nav .link {
            display: inline-block;
            width: 70%;
            height: 75px;
            line-height: 75px;
               
        }
        
    }  
    
}

@media screen and ( max-width: 576px) {

    
    .leftSide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .leftSide {
        
        nav  {

        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        .link {

            width: 100%;
            
        }

        }
       
        

    }

    .leftSide .f1Img {
        width: 100%;
    }

    a.f1Img {
        display: inline-block;
        width: 100%;
        text-align: center;
        
    }

    a.link.navActiveLink {
        width: 100%;
    }
    a.link {
        width: 100%;
    }

    div.driverInfo {
        width: 100%;
    }
      

}




